.review-header{
    border: solid 1px rgb(165, 165, 165);
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #f6f6f6;
    display: flex;
    justify-content: space-between;
  }

  .not-rounded {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  
  .review-body {
    border: solid 1px rgb(165, 165, 165);
    border-radius: 5px;
    height: 100px;
    border-top: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    overflow: auto;
    background-color: #f6f6f6;
  }